.arrow {
  position: absolute;
  background-color: #f8faf9;
}

.arrow--left {
  left: -1.5625rem;

  @include tablets {
    left:9.375rem;
    top:24%;
  }

@include phones {
  left: 8%;
  top: 21%;
  }

  @media (max-width:320px) {
    left: 10px;
    top: 18%; 
  }
}

.arrow--left .arrow__img {
  transform: rotate(180deg);
}

.arrow--right {
  right: -1.5625rem;

  @media (max-width:480px) {
    right: 4.375rem;
    top: 21%;
  }

  @include tablets {
    right:9.375rem;
    top:24%;
  }
  
  @media (max-width:320px) {
    right: 3.375rem;
    top: 18%;
  }
}

.arrow__img {
  width: 0.8125rem;
  height: 1.75rem;
}

.bar {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 3.75rem;
}

@media (max-width: 768px) {
  .bar {
    flex-direction: column;
    align-items: center;
  }
}

.bar__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
  width: 31.25rem;

  @media (max-width:320px){
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .bar__pic {
    width: 18.75rem;
    margin-bottom: 1.25rem;
   
  }

 
}

.bar__pic-img {
  flex-shrink: 0;

  @media (max-width:950px) {
    width: 95%;
  }

  @media (max-width:320px) {
    width: 60%;
    margin-right: 16%;
  }
}

.bar__content {
  flex: 1;
  color: #000;
  height: 28.4375rem;
  display: flex;
  flex-direction: column;

  

 
 
}

@media (max-width: 768px) {
  .bar__content {
    display: flex;
    align-items: center;
   
  }
}

.bar__composition {
  display: inline-block;
  margin-bottom: 1.875rem;
  cursor: pointer;
  position: relative;
}

.bar__composition:hover .bar__composition-block {
  display: block;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .bar__composition {
    display: none;
  }
}

.bar__composition-btn {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 5px;
  color: #fff;
  background-color: #86c3d7;
  padding: 0.6875rem 1.25rem;
}

.bar__composition-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}

.bar__composition-icon {
  width: 3.1875rem;
  height: 3.1875rem;
  fill: #fff;
  margin-bottom: 0.1875rem;
}

.composition {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0.9375rem;
}

.composition {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: rem(15px);

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width:950px) {
  .bar__composition-list {
    padding-left: 11%;
  }
}

.composition__icon {
  margin-right: rem(25px);
}

.composition__icon-img {
  width: rem(35px);
  height: rem(35px);
  flex-shrink: 0;
}

.composition__text {
  margin-right: auto;

  @media (max-width:950px) {
    margin-right: 2%;
  }
}

.bar__composition-block {
  display: none;
  width: 16.875rem;
  position: absolute;
  top: 0;
  left: 5.625rem;
  background-color: #fff;
  opacity: 0.95;
  padding: 1.5625rem 1.25rem 1.5625rem 2.0625rem;
  border: 0.0625rem solid #eee;
  border-radius: 5px;
}

.bar__title {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 0.9375rem;
}

@media screen and (max-width: 768px) {
  .bar__title {
    text-align: center;
  }
}

.bar__desc {
  margin-bottom: 2.1875rem;
  padding-right: 3.125rem;

  @include phones {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .bar__desc {
    text-align: center;
    padding-right: 6.25rem;
    padding-left: 6.25rem;
  }
}

@media screen and (max-width: 480px) {
  .bar__desc {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width:320px) {
  .bar__desc {
  padding-left: 5%;
  padding-right: 5%;
  }
}

.bar__details {
  font-size: 1.125rem;
  display: flex;
  margin-bottom: 1.875rem;
}

@media screen and (max-width: 480px) {
  .bar__details {
    margin-bottom: 0.9375rem;
  }
}

.bar__calory {
  margin-right: 3.125rem;
}

.bar__order {
  display: flex;
}

.bar__price {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}

.bar__price-currency-img {
  width: 1.5rem;
  height: 2rem;
}

.bar__desc,
.bar__calory-text,
.bar__weight-text {
  color: #666;
}

.bar__calory-value,
.bar__weight-value {
  font-weight: 700;
  color: #000;
}

.bar__price-value {
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 300;
  margin-right: 0.625rem;
}


.bars {
  background: #f8faf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &::after {
    content:"";
    position:absolute;
    width: 100%;
    height: 19.6875rem;
    background: url(../../img/raspberry.png) no-repeat;
    top: -20%;
    left: 0;

    @include phones {
      display: none;
    }

  }
}

.bars__container {
  display: flex;
  align-items: center;
  position: relative;
}

.bars__list {
  display: flex;
  padding-left: 0;
  position: relative;
}


.bars__block {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bars__content {
  overflow: hidden;
  display: flex;
  width: 60rem;
}

.bar__order-button {
  text-decoration: none;
  background-color: #365a49;
  color: #ffffff;


  &:hover {
    color: #365a49;
    background-color: #ffffff;

  }
}

.bar__item.bar {
  width: 60rem;

  @media (max-width:768px) {
  width: 44rem;
  }

  @media (max-width:480px){
    width: 33rem;
  } 

  @media (max-width:320px){
    width: 25rem;
  } 
   
  
}





.bars__wrapper-arrow {
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}





  
 