.contacts {
  width:11.375rem;
  text-align: right;
}

.contacts__phone {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size:1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  text-transform: uppercase;
  text-decoration: none;
  padding-right:1.25rem ;

  @media (max-width:950px) {
    padding-right:0rem ;
  }

}

.phone-number__header {
  width: 0.75rem;
  height: 0.6875rem;
  fill: #ffffff;
}