.hero__description-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0rem;
}

@media (max-width: 768px) {
  .hero__description {
    display: none;
  }
}


.hero__description-points {
  display: flex;
  margin-right: 1.5rem;
  margin-top: 3.5rem;


  &+.hero__description-points--bonus {
    margin-right: 0rem;
  }
}


.hero__description-img {
  align-items: center;
  display: flex;
  margin-right: 3.5%;
}


.hero__description-text {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  max-width: 6.25rem;
  z-index: 2;
}



.hero__title {
  margin-top: 0.75rem;
  font-family: "Alegreya Sans";
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__description-img-icon {
  width: 3.125rem;
  height: 2.625rem;
  fill: #c6f7ff;
  margin-right: 6%;
  z-index: 2;

}