

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8faf9;
  position: relative;
  

  &:after {
    position: absolute;
    content:"";
    background-image: url(./../img/background-reviews.png);
    background-repeat: no-repeat;
    width: 8.8125rem;
    height: 19.125rem;
    top: -13%;

    @include phones {
      background-image: none;
    }
  }

  &:before{
    position: absolute;
    content:"";
    background-image: url(./../img/leaf-player.png);
    background-repeat: no-repeat;
    width:4.5rem;
    height: 8.4375rem;
    bottom: 5%;
    left: 10%;

    @include phones {
      background-image: none;
    }

  }
  

}

  

.work__container {
  width: 41.25rem;
  height: 25.3125rem;
  margin-top:3.125rem;

  &::after {
    position: absolute;
    content:"";
    background-image: url(./../img/leaf-two-player.png);
    background-repeat: no-repeat;
    width: 5.625rem;
    height: 4.8125rem;
    top: -13%;
    right: -16%;

    @include phones {
      background-image: none;
    }
  }


 

  @include tablets {
    width: 37.3125rem;
    height:22.75rem;
  }

  @include phones {
    width: 24.8125rem;
    height: 15.3125rem;
  }
}


.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f8faf9;

  &--active {
    .player__elem {
      opacity: 1;
    }

    .player__splash {
      display: none;
    }

    .player__play {
      width: 0.875rem;
      height: 1.375rem;
      border: none;

      @include tablets {
        height: 1.25rem;
      }

      @include phones {
        width: 0.8125rem;
        height: 0.8125rem;
      }

      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 5px;
        border-radius: 1px;
        top: 0;
        bottom: 0;
        background: #626262;
      }
      &:after {
        right: 0;
      }
      &:before {
        left: 0;
      }
    }
  }
}



.player__elem {
  opacity: 0;

  width: 41.25rem;
  height: 25.3125rem;

  @include tablets {
    width: 37.3125rem;
    height: 22.75rem;
  }

  @include phones {
    width: 24.8125rem;
    height: 15.3125rem;
  }
}

.player__splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
  background: url(./../img/player-image.png) center center no-repeat;
}

.player__splash-play {
  width: 5.125rem;
  height: 7.375rem;
  fill:#ffffff;

  @include tablets {
    width: 4.5625rem;
    height: 6.625rem;
  }

  @include phones {
    width: 3.0625rem;
    height:4.4375rem;
  }
}

.player__controls {
  background-color: #404040;
  height: 2.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;

  @include tablets {
    height: 2rem;
    padding: 0 1.0625rem;
  }

  @include phones {
    height: 1.375rem;
    padding: 0 0.625rem;
  }
}

.player__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  padding: 0;
  height: 1.375rem;
  

  @include tablets {
    height: 1.25rem;
  }

  @include phones {
    height: 0.8125rem;
  }

  &--circle {
    width: 0.75rem;
    height:0.75rem;
    border-radius: 50%;
    background-color: #626262;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @include tablets {
      width: 0.6875rem;
      height: 0.6875rem;
    }

    @include phones {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}

.player__play{
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-left-color: #626262;
  border-radius: 1px;
  border-right-width: 0;
  

  @include tablets {
    border-width: 0.6875rem;
    border-right-width: 0;
    border-radius: 0.6875rem;
  }

  @include phones {
    border-width: 0.5rem; 
    border-right-width: 0;
    border-radius: 0.25rem;
  }
}

.player__vol {
  width: 1.125rem;

  @include tablets {
    width: 1rem;
  }

  @include phones {
    width: 0.6875rem;
  }
}

.player__vol-icon {
  width: 1.125rem;
  height:1.375rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  fill: #626262;

  @include tablets {
    width:1rem;
    height: 1.25rem;
  }

  @include phones {
    width: 0.6875rem;
    height: 0.8125rem;
  }
}

.player__playback {
  width: 27.8125rem;

  @include tablets {
    width: 24.875rem;
  }

  @include phones {
    width: 18.625rem;
  }
}

.player__playback-btn {
  left: 0;
}

.player__volume {
  width: 3.625rem;

  @include tablets {
    width: 3.3125rem;
  }

  @include phones {
    width: 2.25rem;
  }
}

.player__volume-btn {
  left: 100%;
}

.player__volume,
.player__playback {
  height: 0.9375rem;
  position: relative;

  @include tablets {
    height: 0.875rem;
  }

  @include phones {
    height: 0.8125rem;
  }

  &:before {
    content: "";
    height: 5px;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #626262;
    display: block;
    transform: translateY(-50%);


    @include tablets {
      height: 4px;
    }
  }
}




