@font-face {
  font-family: 'Alegreya Sans', sans-serif;
  src:url(./../../fonts/AlegreyaSans-Black.ttf);
  src: url(./../../fonts/AlegreyaSans-Bold.ttf);
  src: url(./../../fonts/AlegreyaSans-ExtraBold.ttf);
  src: url(./../../fonts/AlegreyaSans-Light.ttf);
  src: url(./../../fonts/AlegreyaSans-LightItalic.ttf);
  src: url(./../../fonts/AlegreyaSans-Medium.ttf);
  src: url(./../../fonts/AlegreyaSans-MediumItalic.ttf);
  src: url(./../../fonts/AlegreyaSans-Thin.ttf);
  src: url(./../../fonts/AlegreyaSans-ThinItalic.ttf);
  src: url(./../../fonts/AlegreyaSans-Regular.ttf);
}